.header img {
  	background-color:#2EB8E6;
	float: left;
  	width:6%;
  	height: 11%;
  	padding:5px;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
	z-index:1;
}
.header h1 {
  	background-color:#2EB8E6;
	text-align:center;
  	padding:5px;
	height:75px;
	line-height:75px;
	margin-top:0px;
	position:relative;
	width:100%;
}
#header {
    background-color:#2EB8E6;
    text-align:center;
}
#footer {
    background-color:#2EB8E6;
    clear:both;
    text-align:center;
   	padding:5px;
	margin-left:0px; 	
	position:absolute;
	bottom:0;
	width:100%;
}
button{
	border:1px solid;
	height:4%;
	width:8%;
	background:lightslategray;
}
body,td,th {
	font-family: Helvetica, Arial, sans-serif;
	
}
